body {
	display: grid;
	grid-template-columns: 1fr 900px 1fr;
}

.content {
	display: grid;
	grid-column-start: 2;
	grid-column-end: 3;
}

#inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#pubkeywheel, #pubkeywheel2, #pubkeywheel3 {
	height: 400px;
	width: 900px;
}